body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
}
